{% extends "base2.html" %}
{% load static %}

{% block chunk3 %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shopping Cart</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Shopping Cart</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="col-lg-8 table-responsive mb-5">
            
            <table class="table table-bordered text-center mb-0 mx-auto">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% if carts %}
                    {% for cart in carts %}
                    <tr>
                        <td class="align-middle"><img src="{{cart.product.ProfilePix.url}}" alt="" style="width: 50px;"> {{cart.product.name}}</td>
                        <td class="align-middle">${{cart.product.price}}</td>
                        <td class="align-middle">
                            <form method="POST" action="{% url 'update_cart' cart.product.id %}">
                                {% csrf_token %}
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-minus" >
                                        <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quantity" class="form-control form-control-sm bg-secondary text-center" value="{{cart.quantity}}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="align-middle">${{cart.product.price}}</td>
                        <td class="align-middle">
                            <form method="POST" action="{% url 'remove_from_cart' cart.product.id %}">
                            {% csrf_token %}
                            <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Your cart is empty.</td>
                    </tr>
                    {% endif %}
                
                </tbody>
            </table>
        
        </div>
        
    </div>
</div>
<!-- Cart End -->

{% endblock chunk3 %}