{% extends "base.html" %}
{% load static %}


{% block chunk1 %}
<div class="col-lg-6 col-6 text-left">
    <form action="{% url 'search_results' %}" method="get">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search for products, services or businesses">
            <div class="input-group-append">
                <button class="btn shadow-none ">
                    <span class="input-group-text bg-transparent text-primary">
                        <i class="fa fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col-lg-3 col-6 text-right">
    <a href="{% url 'liked' %}" class="btn border">
        <i class="fas fa-heart text-primary"></i>
        <span class="badge">{{fav_number}}</span>
    </a>
    <a href="{% url 'cart' %}" class="btn border">
        <i class="fas fa-shopping-cart text-primary"></i>
        <span class="badge">{{cart_number}}</span>
    </a>
</div>
{% endblock chunk1 %}


{% block chunk2 %}

<!-- Navbar Start -->
<div class="container-fluid mb-5">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
            </a>
            
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url 'home' %}" class="nav-item nav-link {% block home %}{% endblock %}">Home</a>
                        <a href="{% url 'Buz_list' %}" class="nav-item nav-link {% block business %}{% endblock %}">Business</a>
                        <a href="{% url 'service_list' %}" class="nav-item nav-link {% block services %}{% endblock %}">Services</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle {% block pages %}{% endblock %}" data-toggle="dropdown" >Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="{% url 'cart' %}" class="dropdown-item">Shopping Cart</a>
                                <a href="checkout.html" class="dropdown-item">Checkout</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link" {% block contact %}{% endblock %}>Contact</a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="navbar-nav ml-auto py-0">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">{{user.email}}<i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="{% url 'account_logout' %}" class="nav-item nav-link">Logout</a>

                            </div>
                        </div>
                        
                        
                    </div>

                    {% else %}
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% url 'account_login' %}" class="nav-item nav-link">Login</a>
                        <a href="{% url 'account_signup' %}" class="nav-item nav-link">Register</a>
                    </div>
                    {% endif %}
                </div>
            </nav>
            
        </div>
    </div>
</div>
<!-- Navbar End -->



{% block chunk3 %}{% endblock chunk3 %}
{% endblock chunk2 %}

